a {
    text-decoration: none;
    color:black;
}
nav
{
    background-color: aqua;
}
footer {
    font-size: 40px;
    padding: 80px;
    background-color: rgb(100, 194, 79)
}

.recipegrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

h3, a{
    color:blue;
}

h3, p{
    color:black
}

tr:nth-child(even) {
    background-color: gainsboro;

}
